<header class="header">
    <div class="header-section">
        <div class="header-item headerlogo">
            LOGO
        </div>
        <div class="header-item headerButton">
            <a routerLink="/repositories-section">Repositories</a>
        </div>
        <div class="header-item headerButton">
            <a href="#">Link 2</a>
        </div>
        <div class="header-item headerButton">
            <a href="#">Link 3</a>
        </div>
        <div class="header-item headerButton">
            <a href="#">Link 4</a>
        </div>
    </div>
    <div class="header-section">
        <div class="header-item headerButton">
            <a href="#">Options</a>
        </div>
        <div class="header-item headerButton">
            <a href="#">Login</a>
        </div>
    </div>
</header>